apiVersion: v1
kind: Service
metadata:
  name: backend-metrics
  namespace: mahasiswa-app
  labels:
    app: backend
spec:
  selector:
    app: backend
  ports:
    - name: metrics
      port: 5000
      targetPort: 5000
---
apiVersion: monitoring.coreos.com/v1
kind: ServiceMonitor
metadata:
  name: backend-monitor
  namespace: mahasiswa-app
  labels:
    release: prometheus
spec:
  selector:
    matchLabels:
      app: backend
  endpoints:
    - port: metrics
      path: /metrics
      interval: 30s
